APP_NAME=auth-boilerplate-api
NODE_ENV=development
APP_URL=http://localhost:4000

# Port number
PORT=4000

# URL of the Mongo DB
MONGODB_URL=mongodb://localhost:27017/express-app

# JWT
# JWT secret key
JWT_SECRET=
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
MAIL_DRIVER=
MAIL_ENCRYPTION=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=

# Cookie configs
COOKIE_NAME=
COOKIE_SECRET=
COOKIE_EXPIRY=

# URL of client application
CLIENT_URL=